{% extends 'base/base.html' %}

{% block title %}<title>{{ type }} Events</title>{% endblock %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

        <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ type }} Events</h1>
    </div>
    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total events</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_events }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total live events</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_live }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar-day fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total upcoming events</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_upcoming }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar-check fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Total events ended</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_ended }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar-week fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Illustrations -->
    <div class="container-fluid mt-4">
        {% if events %}
        <div class="row">
            {% for event in events %}
                <div class="col">
                    <div class="card p-3 shadow h-100">
                        <div class="d-flex flex-row mb-3"><img src="{{ url_for('show_event_image', event_id=event.id) }}" width="70" alt="{{ event.title }}">
                            <div class="d-flex flex-column ml-2"><span>{{ event.title }}</span><span class="text-black-50">Payment Services</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></span></div>
                        </div>
                        <h6>{{ event.description[:100] }}...</h6>
                        <div class="d-flex justify-content-between install mt-3">

                            {% if type == 'Upcoming' %}
                            <span style="color: green">Starts at: {{ event.start_date }}</span>
                            {% elif type == 'Live' %}
                            <span style="color: red">Ends at: {{ event.end_date }}</span>
                            {% else %}
                            <span style="color: darkred">Event Ended</span>
                            {% endif %}

                            <span class="text-primary">
                                <a href="{{ url_for('event_details', slug=event.slug) }}"> View </a>&nbsp;
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <h1 class="h3 mb-0 text-gray-800">No events Found</h1>
        {% endif %}
    </div>
</div>
<!-- /.container-fluid -->

<!-- End of Main Content -->
{% endblock %}

{% block form_errors %}
{% endblock %}
