{% extends 'base/base.html' %}

{% block title %}<title>Dashboard</title>{% endblock %}

{% block css %}
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/index/icofont/icofont.min.css" rel="stylesheet">
    <link href="../static/vendor/index/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/index/venobox/venobox.css" rel="stylesheet">
    <link href="../static/vendor/index/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/css/index/main.css" rel="stylesheet">
{% endblock %}

{% block content %}

      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex align-items-center">

        <div class="container">
          <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1">
              <h1>Secure Personal Certificate wallet and event registration</h1>
              <h2>Choose event, participate and get certificate easy and simple</h2>
              <a href="{{ url_for('events', event_type='live') }}" class="btn-get-started scrollto">Register event now</a>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
              <img src="../static/img/index/hero-img.svg" class="img-fluid animated" alt="">
            </div>
          </div>
        </div>

      </section><!-- End Hero -->


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="../static/img/index/about-img.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3>Importance of DigiCertificate</h3>
            <p>
                We all acquired lots of certificates from our childhood, but do we have all certificates now? Not sure right? Here comes digital certificates vault where we can store and get our certificates securely
            </p>
            <div class="row">
              <div class="col-md-6">
                <i class="bx bx-lock"></i>
                <h4>Secure ans Safe</h4>
                <p>All your certificates will we encrypted and stored and secure place</p>
              </div>
              <div class="col-md-6">
                <i class="bx bx-happy"></i>
                <h4>Available 24/7</h4>
                <p>Anytime anywhere any format you can view / Download all your certificates</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Check out the great services included</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-google-cloud"></i></div>
              <h4 class="title"><a href="">Secure</a></h4>
              <p class="description">Every user credentials and user data stored encrypted with high quality algorithm</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-happy"></i></div>
              <h4 class="title"><a href="">User friendly</a></h4>
              <p class="description">Convenient to use in laptop, tablet, mobile or in any device without any issue</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Faster response</a></h4>
              <p class="description">All options available in your fingertips, so work efficiency will be faster</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Available 24/7</a></h4>
              <p class="description">Access all your certificates anywhere and anytime without any issues.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <ul class="faq-list">

          <li>
            <a data-toggle="collapse" class="" href="#faq1">Is this really a good idea to store certificates?
                <i class="icofont-simple-up"></i>
            </a>
            <div id="faq1" class="collapse show" data-parent=".faq-list">
              <p>
                Now a days everything is digital, hence storing our certificates will enable faster access.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">Is anyone else can see my certificates?
                <i class="icofont-simple-up"></i>
            </a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p>
                If you keep your profile as public, then anyone can view your certificates, if it is private then only you can access it.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <p>Person working on this project</p>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="member">
{#              <img src="../static/img/index/team/team-1.jpg" class="img-fluid" alt="">#}
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                </div>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="member">
{#              <img src="../static/img/index/team/team-2.jpg" class="img-fluid" alt="">#}
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                </div>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="member">
{#              <img src="../static/img/index/team/team-3.jpg" class="img-fluid" alt="">#}
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                </div>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="member">
{#              <img src="../static/img/index/team/team-4.jpg" class="img-fluid" alt="">#}
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                </div>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Team Section -->


    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact Us</h2>
          <p>Contact & get started</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Tamil Nadu, Erode - 638002</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>gvrosun@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+91 85262 20716</p>
              </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15648.864736763133!2d77.74514852469478!3d11.318903371275786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba9658404dacfd7%3A0x9b68157a619dc449!2sSolar%2C%20Tamil%20Nadu%20638002!5e0!3m2!1sen!2sin!4v1631353527432!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>
          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">{{ contact_form.name.label }}</label>
                    {{ contact_form.name(class="form-control") }}
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="email">{{ contact_form.email.label }}</label>
                    {{ contact_form.email(class="form-control") }}
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="subject">{{ contact_form.subject.label }}</label>
                  {{ contact_form.subject(class="form-control") }}
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="message">{{ contact_form.message.label }}</label>
                  {{ contact_form.message(class="form-control", rows="10") }}
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End Contact Us Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join My Newsletter</h4>
            <p>Enter your email and subscribe to know more information and updates</p>
            <form action="" method="post">
                {{ subscribe_form.email() }}
                {{ subscribe_form.submit() }}
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>DigiCertificate</h3>
            <p>
              106A1, Iraniyan st <br>
              Erode - 638002<br>
              Tamilnadu, India <br><br>
              <strong>Phone:</strong> +91 85262 20716<br>
              <strong>Email:</strong> gvrosun@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('index') }}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Flask Framework</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">SQlite</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">HTML,CSS, JS</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Heroku</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Docker</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>My Social Networks</h4>
            <p>Just contact my anytime, and subscribe to get regular updates</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </footer>

{% endblock %}

{% block form_errors %}
    <script>
        {% for field in subscribe_form.errors %}
            toastr.error('{{ subscribe_form[field].errors[0] }}');
        {% endfor %}
        {% for field in contact_form.errors %}
            toastr.error('{{ contact_form[field].errors[0] }}');
        {% endfor %}
    </script>
{% endblock %}


{% block js %}
    <!-- Vendor JS Files -->
    <script src="../static/vendor/index/php-email-form/validate.js"></script>
    <script src="../static/vendor/index/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/vendor/index/venobox/venobox.min.js"></script>
    <script src="../static/vendor/index/owl.carousel/owl.carousel.min.js"></script>

{% endblock %}
